:root {
  --space-3xs: 0.125rem;
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;
  --space-3xl: 4rem;

  --text-xs: 0.75rem;
  --text-s: 0.875rem;
  --text-m: 1rem;
  --text-l: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 3rem;

  --weight-regular: 400;
  --weight-semibold: 600;

  --color-accent: #EB0037;
  --color-accent-contrast: #ffffff;

  --color-bg: light-dark(#ffffff, #1A1A1A);
  --color-surface: light-dark(#f7f7f7, #1c1c1c);
  --color-text: light-dark(#1a1a1a, #F0F0F0);
  --color-text-muted: light-dark(#5a5a5a, #a3a3a3);
  --color-border: light-dark(#e2e2e2, #2e2e2e);
}

:root {
  &[data-theme="light"] {
    color-scheme: light;
  }
  
  &[data-theme="dark"] {
    color-scheme: dark;
  }
}

html,
body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  &:link,
  &:visited {
    color: inherit;
  }

  &:hover,
  &:active,
  &:focus-visible {
    opacity: 0.7;
  }
}
