:root {
  --space-3xs: 0.125rem;
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;
  --space-3xl: 4rem;

  --screen-s: 40rem;
  --screen-m: 48rem;
  --screen-l: 64rem;
  --screen-xl: 80rem;

  --text-xs: 0.75rem;
  --text-s: 0.875rem;
  --text-m: 1rem;
  --text-l: clamp(1.0625rem, 0.997rem + 0.326vw, 1.25rem);
  --text-xl: clamp(1.25rem, 1.163rem + 0.435vw, 1.5rem);
  --text-2xl: clamp(1.5rem, 1.326rem + 0.87vw, 2rem);
  --text-3xl: clamp(2rem, 1.652rem + 1.739vw, 3rem);

  --weight-normal: 400;
  --weight-semibold: 600;

  --font-body: "Elms Sans", serif;
  --font-heading: "Cormorant Garamond", serif;
  --font-monospace: "Source Code Pro", monospace;

  --color-accent: light-dark(#B8472A, #E3876D);
  --color-on-accent: light-dark(#F8F4EC, #1A1208);

  --color-bg: light-dark(#F4F1EA, #15120E);
  --color-surface: light-dark(#FBF8F1, #211B13);
  --color-text: light-dark(#1A1714, #EDE7DB);
  --color-text-muted: light-dark(#5E574E, #9C9384);
  --color-border: light-dark(#D9D2C4, #322C24);
}

:root {
  &[data-theme="light"] {
    color-scheme: light;
  }
  
  &[data-theme="dark"] {
    color-scheme: dark;
  }
}

html,
body {
  font-family: var(--font-body);
  font-optical-sizing: auto;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus-visible {
    text-decoration: underline;
  }

  &[href^="http"]::after {
    content: "⇱" / "";
    font-size: var(--text-s);
    vertical-align: top;
    margin-inline-start: var(--space-3xs);
  }
}
